<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>AngularJS - Meetup Buenos Aires</title>

    <meta name="description" content="Presentacion para el meetup AngularJS Buenos Aires">
    <meta name="author" content="Juan Manuel Arias">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="css/reveal.min.css">
    <link rel="stylesheet" href="css/theme/default.css" id="theme">
    <link href="css/custom.css" rel="stylesheet" />

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
        document.write('<link rel="stylesheet" href="css/print/' + (window.location.search.match(/print-pdf/gi) ? 'pdf' : 'paper') + '.css" type="text/css" media="print">');
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
</head>

<body ng-app="myApp">
    <div class="reveal">
        <div class="slides">
            <section>
                <h1>AngularJS</h1>
                <img src="/img/logo.png" alt="Angular">
                <h3>Comunidad Buenos Aires</h3>
                <p>
                    <small>by <a href="https://twitter.com/juanma_ari">@juanma_ari</a> | <a href="http://www.meetup.com/AngularJS-Buenos-Aires/">meetup</a></small>
                </p>
            </section>

            <section>
                <h2>Twitter</h2>
                <h3>@founderspalermo</h3>
                <h3>#AngularJSBA</h3>
            </section>

            <section>
                <h2>El espíritu de este meetup</h2>
                <p>Compartir experiencias, intercambiar ideas, generar un espacio de interacción profesional...</p>
                <p class="fragment"><em>... y también tomar cerveza!</em></p>
            </section>

            <section>
                <h2>Backlog de Ideas</h2>
                <ol>
                    <li>
                        Conociendo AngularJS y su Comunidad
                        <ul>
                            <li>Cliente Side vs Hybrid Solutions</li>
                            <li>Arquitectura de AngularJS</li>
                            <li>Features &amp; Workarounds</li>
                        </ul>
                    </li>
                    <li>MEAN Stack y otras tecnologías backend</li>
                    <li>Seguridad</li>
                    <li>De la idea al Deploy</li>
                    <li>...</li>
                </ol>
            </section>

            <section>
                <h2>Presentación</h2>
            </section>

            <section>
                <section>
                    <h2>Frontend</h2>
                    <ol>
                        <li class="fragment">JavaScript puro</li>
                        <li class="fragment">JQuery</li>
                        <li class="fragment">Bindings</li>
                    </ol>
                </section>

                <section>
                    <h3>JavaScript puro</h3>
                    <pre><code data-trim>
&lt;h1 id="title"&gt;&lt;/h1&gt
					    </code></pre>

                    <pre><code data-trim>
&lt;script&gt;
    var title = document.getElementById('title');
    title.innerText = 'Hola Mundo';
&lt;/script&gt;
                        </code></pre>
                    <aside class="notes">
                        Problemas cross Browser
                    </aside>
                </section>

                <section>
                    <h3>JQuery</h3>
                    <pre><code data-trim>
&lt;h1 id="title"&gt;&lt;/h1&gt
                        </code></pre>

                    <pre><code data-trim>
&lt;script&gt;
    ('#title').text('Hola Mundo');
&lt;/script&gt;
                        </code></pre>
                    <aside class="notes">
                        Código imperativo, difícil de mantener en el tiempo
                    </aside>
                </section>

                <section>
                    <h3>Bindings</h3>
                    <pre><code data-trim>
&lt;h1 data-bind="text: name"&gt;&lt;/h1&gt
					    </code></pre>

                    <pre><code data-trim>
&lt;script&gt;
    var ViewModel = function(name){
        this.name = ko.observable(name);
    }
    ko.applyBindings(new ViewModel("Juan"));
&lt;/script&gt;
					</code></pre>
                    <aside class="notes">
                        Si bien nos ayuda a construir SPA, no nos ayuda mucho en SoC
                    </aside>
                </section>

                <section>
                    <h2>¿Cuales son las Desventajas?</h2>
                </section>

                <section data-background="#8c4738" data-background-transition="slide" data-transition="linear">
                    <h3>Código Imperativo</h3>
                </section>

                <section data-background="#8c4738" data-background-transition="slide" data-transition="linear">
                    <h3>Manipulación del DOM mezclada con lógica de comportamiento</h3>
                </section>

                <section data-background="#8c4738" data-background-transition="slide" data-transition="linear">
                    <h3>Dificultad a la hora de testear UI</h3>
                </section>

                <section data-background="#8c4738" data-background-transition="cube" data-transition="linear">
                    <h3>Modelo de Negocio acoplado a librerías</h3>
                </section>
            </section>

            <section>
                <section>
                    <h2>MVC</h2>
                </section>
            </section>

            <section>
                <section>
                    <h2>¿Que es AngularJS?</h2>
                </section>

                <section>
                    <h3>Framework JavaScript Open Source</h3>
                </section>

                <section>
                    <h3>Desarrollado por Google</h3>
                </section>

                <section>
                    <h3>Aplica el patrón MVC</h3>
                    <pre><code data-trim ng-non-bindable>
&lt;h1&gt;{{persona.nombre}}&lt;/h1&gt;
                    </code></pre>

                    <pre><code data-trim>
&lt;script&gt;
    $scope.persona = { nombre: 'Juan' };
&lt;/script&gt;
					</code></pre>
                </section>
            </section>

            <section>
                <section>
                    <h2>¿Cuales son las Ventajas?</h2>
                </section>

                <section data-background="#4d7e65" data-background-transition="slide" data-transition="linear">
                    <h3>Aplica Dependency Injection</h3>
                </section>

                <section data-background="#4d7e65" data-background-transition="slide" data-transition="linear">
                    <h3>Facilita la construcción de SPA con el uso de rutas y bindings</h3>
                </section>

                <section data-background="#4d7e65" data-background-transition="slide" data-transition="linear">
                    <h3>Permite desacoplar la manipulación del DOM de la lógica</h3>
                </section>

                <section data-background="#4d7e65" data-background-transition="slide" data-transition="linear">
                    <h3>Extiende el vocabulario HTML</h3>
                </section>

                <section data-background="#4d7e65" data-background-transition="slide" data-transition="linear">
                    <h3>Facilidad de realizar Testing Unitario y E2E</h3>
                </section>

                <section data-background="#4d7e65" data-background-transition="cube" data-transition="linear">
                    <h3>Los objetos no necesitan una estructura especifica de Getters y Setters</h3>
                </section>
            </section>

            <section>
                <section>
                    <h2>Algunos ejemplos</h2>
                </section>
                <section>
                    <h2>Binding Simple</h2>
                    <pre><code data-trim ng-non-bindable>
&lt;div ng-app&gt;
    &lt;input type=&quot;text&quot; ng-model=&quot;name&quot;&gt;
    &lt;h2&gt;Hola {{name}}&lt;/h2&gt;
&lt;/div&gt;
                    </code></pre>
                    <div>
                        <input type="text" ng-model="name" />
                        <h3>Hola {{name}}</h3>
                    </div>
                </section>
                <section>
                    <h2>Controller con Repeater</h2>
                    <pre><code data-trim ng-non-bindable>
&lt;div ng-controller=&quot;ItemsCtrl&quot;&gt;
    &lt;button ng-click=&quot;addItem()&quot;&gt;Add Item&lt;/button&gt;
    &lt;table&gt;
        &lt;tr ng-repeat=&quot;item in items&quot;&gt;
            &lt;td&gt;{{item}}&lt;/td&gt;
        &lt;/tr&gt;
    &lt;/table&gt;
&lt;/div&gt;
                    </code></pre>
                    <pre><code data-trim ng-non-bindable>
&lt;script&gt;
    function ItemsCtrl($scope) {
        $scope.count = 0;
        $scope.items = [];
        $scope.addItem = function () {
            $scope.count++;
            $scope.items.push(&#39;Nuevo Item &#39; + $scope.count);
        }
    }
&lt;/script&gt;
                    </code></pre>
                    <aside class="notes">
                        El Scope es representa el contexto de ejecución.
                    </aside>
                </section>
                <section>
                    <h2>Controller con Repeater</h2>
                    <div ng-controller="ItemsCtrl">
                        <button ng-click="addItem()">Add Item</button>
                        <table>
                            <tr ng-repeat="item in items">
                                <td>{{item}}</td>
                            </tr>
                        </table>
                    </div>
                </section>
            </section>

            <section>
                <section>
                    <h2>Los componentes de AngularJS</h2>
                </section>
                <section>
                    <h2>Expressions</h2>
                    <ul>
                        <li>Snippets de código JavaScript utilizada para Bindings</li>
                    </ul>
                    <pre><code data-trim ng-non-bindable>
{{ expression }}
                    </code></pre>
                    <pre><code class="good-code" data-trim ng-non-bindable>
{{ customer.name }}
                    </code></pre>
                    <pre><code class="good-code" data-trim ng-non-bindable>
{{ 2+2 }}
                    </code></pre>
                    <pre><code class="bad-code" data-trim ng-non-bindable>
{{ Math.round(100*count/total) }}
                    </code></pre>
                </section>

                <section>
                    <h2>Modules</h2>
                    <p>Permite segmentar la Aplicación</p>
                    <pre><code data-trim ng-non-bindable>
&lt;body ng-app=&quot;myApp&quot;&gt;
    ...
&lt;/body&gt;
                    </code></pre>
                    <pre><code data-trim ng-non-bindable>
var myApp = angular.module('myApp', []);
                    </code></pre>
                    <pre><code data-trim ng-non-bindable>
var myApp = angular.module('myApp', ['myApp.controllers', ...]);
                    </code></pre>
                </section>

                <section>
                    <h2>Controller</h2>
                    <ul>
                        <li>Utiliza un <code>$scope</code> para comunicar datos entre el Controller y la Vista</li>
                        <li>El Modelo está dentro del <code>$scope</code></li>
                    </ul>
                    <pre><code data-trim ng-non-bindable>
function TaskCtrl($scope){
	$scope.tasks = [ 
	    { title: 'Fix Bug #3457', status: 'Done' }, 
	    { title: 'Add new Feature', status: 'Pending' } 	
	]
	$scope.addTask = function (task) {
		$scope.tasks.push(task);
	}
}
                    </code></pre>
                </section>
                <section>
                    <h2>Filters</h2>
                    <ul>
                        <li>Modifica el Output antes del Render</li>
                        <li>
                            Se utiliza para
                            <ul>
                                <li>Modificar un formato</li>
                                <li>Ordenar una lista</li>
                                <li>Filtrar una lista</li>
                            </ul>
                        </li>
                    </ul>
                    <pre><code data-trim ng-non-bindable>
&lt;h1&gt;{{ expression | filter }}&lt;/h1&gt;
                    </code></pre>
                </section>

                <section>
                    <h2>Filters</h2>
                    <pre><code data-trim ng-non-bindable>
Search: &lt;input ng-model=&quot;searchText&quot;&gt;
&lt;table&gt;
    &lt;tr&gt;&lt;th&gt;Title&lt;/th&gt;&lt;th&gt;Status&lt;/th&gt;&lt;/tr&gt;
    &lt;tr ng-repeat=&quot;task in tasks | filter:searchText&quot;&gt;
        &lt;td&gt;{{task.title}}&lt;/td&gt;
        &lt;td&gt;{{task.status}}&lt;/td&gt;
        &lt;td&gt;{{task.date | date:'dd/MM/yy'}}&lt;/td&gt;
    &lt;/tr&gt;
&lt;/table&gt;
                    </code></pre>
                    Search: <input ng-model="searchText">
                    <hr />
                    <table ng-controller="TaskCtrl">
                        <tr><th>Title</th><th>Status</th><th>Date</th></tr>
                        <tr ng-repeat="task in tasks | filter:searchText">
                            <td>{{task.title}}</td>
                            <td>{{task.status}}</td>
                            <td>{{task.date | date:'dd/MM/yy'}}</td>
                        </tr>
                    </table>
                </section>

                <section>
                    <h2>Services</h2>
                    <ul>
                        <li>Objetos con lógica de la aplicación</li>
                        <li>Suele comunicarse con el Backend</li>
                        <li>Objetos reutilizables</li>
                    </ul>
                </section>
                <section>
                    <h2>Services</h2>                
                    <pre><code data-trim ng-non-bindable>
myApp.controller('TaskCtrl', function ($scope, taskData) {
    $scope.tasks = taskData.tasks;
    $scope.add = function (task) {
        taskData.add(task);
    }
});
                    </code></pre>
                    <pre><code data-trim ng-non-bindable>
myApp.factory('taskData', function () {
    return {
        tasks : [
            { title: 'Fix bug #3445', status: 'done', ... },
            { title: 'Fix bug #3446', status: 'done', ... },
            { title: 'Add new Feature', status: 'pending', ... }],
        add: function (task) {
            this.tasks.push(task);
        }
    }
});
                    </code></pre>
                </section>
                
                <section>
                    <h2>Service</h2>
                    <div ng-controller="TaskCtrl">
                        <form>
                            Title: <input type="text" ng-model="task.title" />
                            Status: <input type="text" ng-model="task.status" />
                            <button ng-click="add(task)">Add</button>
                        </form>
                        <table>
                            <tr><th>Title</th><th>Status</th><th>Date</th></tr>
                            <tr ng-repeat="task in tasks | filter:searchText">
                                <td>{{task.title}}</td>
                                <td>{{task.status}}</td>
                                <td>{{task.date | date:'dd/MM/yy'}}</td>
                            </tr>
                        </table>
                    </div>
                </section>

                <section>
                    <h2>Services nativos de AngularJS</h2>
                    <ul>
                        <li>$http</li>
                        <li>$q</li>
                        <li>$resource</li>
                        <li>$cookieStore</li>
                        <li>$window</li>
                        <li>... y muchos más...</li>
                    </ul>
                </section>
                <section>
                    <h2>Routing</h2>
                    <ul>
                        <li>Permite hacer SPA</li>
                        <li>Navegación con History</li>
                        <li>Utiliza el # en las rutas o nada si es HTML5</li>
                    </ul>
                    <pre><code data-trim ng-non-bindable>
&lt;body&gt;
    &lt;ng-view&gt;&lt;/ng-view&gt;
&lt;/body&gt;
                    </code></pre>
                    <pre><code data-trim ng-non-bindable>
var app = angular.module('myApp', [])
    .config(function($routeProvider){
        $routeProvider.when('/tasks',{
            templateUrl: 'views/tasks.html',
            controller: 'TaskCtrl'
        }
    });
                    </code></pre>
                    <aside class="notes">
                        En modo HTML5, el server tiene que responder a todas las rutas para que angular pueda cargarla y operar sobre ella.
                    </aside>
                </section>
                <section>
                    <h2>Directives</h2>
                    <ul>
                        <li>Utilizado para elementos Custom</li>
                        <li>Manipulación del DOM</li>
                        <li>Eventos Custom</li>
                        <li>Permite crear nuestro propio DSL</li>
                    </ul>
                    <pre><code data-trim ng-non-bindable>
myApp.directive('taskBox', function () {
    return {
        restrict: 'E',
        templateUrl: 'templates/taskBox.html'
    }
});
                    </code></pre>
                    <pre><code data-trim ng-non-bindable>
&lt;body&gt;
    ...
    &lt;taskBox /&gt;
    ...
&lt;/body&gt;
                    </code></pre>
                </section>
            </section>

            <section>
                <h2>Links</h2>
                <a href="http://goo.gl/WdygrW">https://github.com/juanmanuelarias/angularjs-meetup</a>
                <a href="http://goo.gl/bL9IoB">http://www.meetup.com/AngularJS-Buenos-Aires/</a>
                <a href="http://goo.gl/cQ3XVZ">@juanma_ari</a>
            </section>

            <script src="lib/js/head.min.js"></script>
            <script src="js/reveal.min.js"></script>

            <script>
                // Full list of configuration options available here:
                // https://github.com/hakimel/reveal.js#configuration
                Reveal.initialize({
                    controls: true,
                    progress: true,
                    history: true,
                    center: true,

                    theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
                    transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

                    // Optional libraries used to extend on reveal.js
                    dependencies: [
                        { src: 'lib/js/classList.js', condition: function () { return !document.body.classList; } },
                        { src: 'plugin/markdown/marked.js', condition: function () { return !!document.querySelector('[data-markdown]'); } },
                        { src: 'plugin/markdown/markdown.js', condition: function () { return !!document.querySelector('[data-markdown]'); } },
                        { src: 'plugin/highlight/highlight.js', async: true, callback: function () { hljs.initHighlightingOnLoad(); } },
                        { src: 'plugin/zoom-js/zoom.js', async: true, condition: function () { return !!document.body.classList; } },
                        { src: 'plugin/notes/notes.js', async: true, condition: function () { return !!document.body.classList; } }
                    ]
                });

            </script>
            <script src="bower_components/angular/angular.min.js"></script>
            <script src="app/js/app.js"></script>
            <script src="app/js/controllers/TaskCtrl.js"></script>
            <script src="app/js/services/taskData.js"></script>
            <script>
                

                function ItemsCtrl($scope) {
                    $scope.count = 0;
                    $scope.items = [];
                    $scope.addItem = function () {
                        $scope.count++;
                        $scope.items.push('Nuevo Item ' + $scope.count);
                    }
                }
            </script>
        </div>
    </div>
</body>
</html>
